# There is a new for an inner env for the frontend in order to use the ios emulator
#
#
#
#
#
# run the following in the termianl
# ifconfig | grep "inet "
#
#
# Take your local IP which is the second line outputed by the command
# and add :8000 to it
#
# Set the predefined varible to your local IP
#
#
# EXPO_PUBLIC_API_URL=
