# You need to configure envs for your local enviorment in order to run the project
#
#
# This .env is an example for the some genral stuff you need for my cloudflare and neon db
#
#
# For the JWT uncomment these following two lines
# SECRET_KEY=kIfzsBmXSMlVgP3favGi19-TV9FiMPDI_3rCkGqc3UyJbDieuM078Th0D6VXh9FHHOWxa9QzcMGHv2Sx1T61qQ
# ACCESS_TOKEN_EXPIRE_MINUTES=60
#
#
#
#
# For cloudflare keep the names of these variables and ask eduardo to show you the enviorment varaibles
# CLOUDFLARE_ACCOUNT_ID=
# R2_BUCKET_NAME=
# R2_ACCESS_KEY=
# R2_SECRET_KEY=
#
#
#
#
# For our DB Client:
# Make sure the variable name is the following :
# DATABASE_URL='postgresql+psycopg2://'
# Go to the neon website -> overview -> connect -> SQLAlchemy -> click the .env tab -> COPY EVERYTHING AFTER THE :// and paste it into the predefined var
#
